.comic-info {
  height: 320px;
  background: #242424;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  padding: 24px;
}

.comic-image {
  height: 271px;
  border-radius: 8px;
}

.comic-info__detail {
  box-sizing: border-box;
  margin: 0 24px;
}

.comic-name {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1;
  margin-top: 0;
}

.comic-view {
  display: flex;
  flex-direction: row;
}

.comic-view .comic-reader {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
  margin-right: 17px;
}

.comic-view .comic-like {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
}

.comic-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 0;
  gap: 10px;
  margin-top: 24px;
  line-height: 20px;
}

.comic-tag__content {
  border: 1px solid #434343;
  border-radius: 4px;
  padding: 1px 8px;
  color: rgba(255, 255, 255, 0.65);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.comic-read-btn {
  width: 205px;
  height: 32.2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background: #ffd60a;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 8px;
  margin-top: 60px;
}

.comic-info__detail .comic-author,
.comic-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.65);
}

.comic-info-icons {
  display: flex;
  gap: 10px;
  margin-left: 39px;
  flex-shrink: 0;
}

.comic-info-icons .comic-share-btn,
.comic-more-btn {
  width: 32px;
  height: 32px;
  background: #1f1f1f;
  border: 1px solid #434343;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.comic-btn-icon {
  margin-left: 9px;
}
