@import url("../components/Info/info.module.css");
@import url("../components/Price/price.module.css");
@import url("../components/List/list.module.css");
@import url("../components/About/about.module.css");
@import url("../components/Comments/comments.module.css");
@import url("../components/QRCode/qrCode.module.css");

.wrapper {
  position: relative;
  margin: 0 auto;
}

.container-left {
  position: absolute;
  left: 99px;
  top: 27px;
  width: calc(768px - 17px);
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  box-sizing: border-box;
}

.container-right {
  position: absolute;
  right: 99px;
  top: 27px;
  width: 368px;
  display: flex;
  flex-direction: column;
}
